<!DOCTYPE html>
<html>
<head>
<title>Yannis Brousset</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href={{ asset("style.css") }}>

<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/my_cv/public/morandini.jpg" alt="Pur BG" />
		</div>
																												
		<div id="name">
			<h1 class="quickFade delayTwo">Yannis Brousset</h1>
			<h2 class="quickFade delayThree">Etudiant Multimédia & Internet</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:joe@bloggs.com" target="_blank">yannis.brousset@gmail.com</a></li>
				<li>w: <a href="http://www.bloggs.com">www.yannisbrousset.com</a></li>
				<li>m: 0699447867</li>
			</ul>
		</div>
		<div class="clear"></div>												
	</div>
																				

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profil</h1>
				</div>
				
				<div class="sectionContent">
					<p>Mes études m’ont permis d'acquérir 
				une bonne maîtrise des spécificités du web et de son contenu. Avec mon bac Littéraire, j’ai acquis au 
				fil des ans une bonne plume, désormais adaptée aux nouveaux enjeux d’Internet. J’ai également de bonnes 
				bases des outils graphiques tels Photoshop et Illustrator. C’est ce panel de compétences que j’aimerais 
				mettre à contribution aujourd'hui dans le monde professionnel.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Experiences</h1>
				
								
								
								

			</div>
			
			<div class="sectionContent">
			
					{% for formation in formation %}
			<article>
				<h2>{{formation.getName() }} </h2>
				
					<p class="subDetails">
				<h5>{{formation.getLieu() }} </h5>  
				
					<p class="subDetails"></p>
					<p>
				<h3>{{formation.getDescription() }}</h3> </p>
				
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('formation_show', {'id': formation.id}) }}">add</a>
				
								<a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>
						     
						     	<a href="{{ path('formation_delete', {'id': formation.id}) }}">delete</a>
						     {% endif %}
						 
					{% endfor %}</p>
			</article>
			
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">	 {% for loisirs in loisirs %}
				<h1>Loisirs</h1>
			
			</div>
			
			<div class="sectionContent">
			<p>	<ul class="keySkills">
			
				 
				 	
					<li>{{loisirs.getName() }}</li>
					
					<li>{{loisirs.getName() }}</li>
					
						{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('loisirs_edit', {'id': loisirs.id}) }}">edit</a>
						     
					<a href="{{ path('loisirs_delete', {'id': loisirs.id}) }}">delete</a>
				  {% endif %}
				
					{% endfor %} </p>
				
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>DUT MMI</h2>
					<p class="subDetails">Université Grenoble Alpes</p>
					<p>Métiers du Multimédia et de l'Internet, spécialité Audiovisuel</p>
				</article>
				
				<article>
					<h2>Licence LLCE Anglais (2 ans)</h2>
					<p class="subDetails">Université Toulouse II Jean Jaures</p>
					<p>Langue, Littérature & Civilisation Etrangère, mineure Cinéma</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>