{% extends 'base.html.twig' %}

{% block title %}Gateau index{% endblock %}

{% block body %}
    <h1>Gateau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DureePrepa</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gateau in gateaus %}
            <tr>
                <td>{{ gateau.id }}</td>
                <td>{{ gateau.nom }}</td>
                <td>{{ gateau.dureePrepa }}</td>
                <td>
                    <a href="{{ path('gateau_show', {'id': gateau.id}) }}">show</a>
                    <a href="{{ path('gateau_edit', {'id': gateau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gateau_new') }}">Create new</a>
{% endblock %}
